<% provide(:title, "Edit Ticket") %>
<h1>Update your ticket record</h1>
<div class="row" id="edit_ticket">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@ticket) do |f| %>
      <%= render 'shared/error_messages', subject: @ticket %>
      <div id="ticket_date">
        <%= f.label :date %>
        <%= f.date_select :date, value: @ticket.date %>
      </div>
      <%= f.label :client %>
      <%= f.text_field :client, value: @ticket.case.number %>
      <%= f.label :description %>
      <%= f.text_area :description, value: @ticket.description %>
      <%= f.label :spent, id: 'spent' %>
      <%= f.text_field :spent, value: @ticket.spent, autocomplete: :off %>
      <div class="col-sm-6 col-sm-offset-3">
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <%= render 'shared/time_converter_form' %>
  </div>
</div>