<% provide(:title, 'Tickets') %>
<h1>
  Ticket List
</h1>
<table class="table table-hover" id="ticket_details">
  <tr>
    <th class="sm-hide">Developer</th>
    <th>Date</th>
    <th>Client</th>
    <th>Description</th>
    <th>Spent (hrs)</th>
    <th>Edit</th>
    <th>Del</th>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr class="ticket_<%= ticket.id %>">
      <td class="sm-hide">
        <%= ticket.user.name %>
      </td>
      <td>
        <%= ticket.date %>
      </td>
      <td>
        <%= ticket.case.number %>
      </td>
      <td>
        <%= ticket.description.truncate(80) %>
      </td>
      <td>
        <%= ticket.spent %>
      </td>
      <td>
        <%= link_to edit_ticket_path(ticket) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </td>
      <td>
        <% confirm_msg = "Are you sure to delete #{ticket.case.number}_#{ticket.date} ?" %>
        <%= link_to ticket_path(ticket, params: {user_id: @user.id}), {data: {confirm: confirm_msg}, method: :delete} do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
