<% content_for :title do %>
  Time Ticket
<% end %>
<h1>Time Ticket</h1>
<div class="row sm-margin">
  <%= form_for(@ticket, html: {id: "time_ticket"}) do |f| %>

    <div class="row">
      <div class="col-sm-4" id="ticket_date">
        <%= f.label :date %>
        <%= f.date_select :date %>
      </div>
      <div class="col-xs-4">
        <%= f.label :client %>
        <%= f.text_field :client %>
      </div>
      <div class="col-xs-4">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= f.label :spent %>
        <%= f.text_field :spent, :autocomplete => :off %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
