<!DOCTYPE html>
<html>
<head>
  <title>Timetracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
    <div class="container">

    <%= render 'layouts/navigation' %>

    </div>
  </nav>
</header>
  <ul class="form">
    <% if notice %>
    	<p class="alert alert-success"><%= notice %></p>
  	<% end %>

  	<% if alert %>
  	  <p class="alert alert-danger"><%= alert %></p>
  	<% end %>
  </ul>
<%= yield %>

</body>
</html>
